.create-game-btn {
  margin-left: 10px;
}
.small-screen-create-game-btn {
  display: none;
}
@media (max-width: 600px) {
  .create-game-btn {
    display: none;
  }
  .small-screen-create-game-btn {
    display: block;
    width: 100%;
  }
}
.targets {
  display: flex;
  flex-wrap: wrap;
}
.target {
  flex: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.target .flex {
  min-height: 20px;
}
.target-label {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.target-name {
  font-size: 64px;
  margin-bottom: 10px;
  line-height: 1;
  word-break: break-word;
}
.kill-code {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.code {
  color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  word-break: break-word;
}
.code:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.code.revealed {
  background-color: transparent;
  color: white;
  cursor: auto;
}
.kill-code .link {
  color: #faa;
}
.game-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  word-break: break-word;
}
.game-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
