.profile-info {
  margin: 0 20px;
}
.profile-name {
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 48px;
  margin: 0;
  word-break: break-word;
}
.settings-btn {
  margin-top: 15px;
  background-image: url('../images/material-settings.svg');
}
.join-btn {
  margin-top: 15px;
  margin-left: 10px;
  word-break: normal;
}
.profile-subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  word-break: break-word;
}
.profile-subtitle .link {
  color: rgba(255, 255, 255, 0.8);
}
.profile-desc {
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.9);
  white-space: pre-wrap;
  word-break: break-word;
}
.profile-desc .link {
  color: #faa;
}
.profile-stats {
  text-align: center;
}
.lists {
  display: flex;
  flex-wrap: wrap;
}
.list {
  flex: 400px;
  margin: 20px;
  border-top: 10px solid var(--blood);
}
.list h2 {
  font-weight: normal;
  font-size: 28px;
}
.item {
  display: block;
  padding: 10px;
}
.dead {
  opacity: 0.7;
}
.item-name {
  color: #faa;
  font-size: 16px;
  display: block;
  word-break: break-word;
}
.item:hover .item-name {
  text-decoration: underline;
}
.item-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
