.settings h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
  flex-wrap: wrap;
  /* Unideal indeed, but it only becomes a problem on really small screens.
  Intended to prevent weird wrapping on Safari. */
  white-space: nowrap;
}
.settings h1 .button {
  margin-left: 10px;
}
.settings h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}
#user-bio,
#game-desc {
  overflow: hidden;
}
.allow-join {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin-top: 10px;
}
.members {
  border-top: 10px solid var(--blood);
  margin-top: 20px;
}
.members-header {
  display: flex;
  margin-bottom: 10px;
}
.member-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  align-items: center;
}
.member-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05);
}
.member {
  flex: auto;
}
.member-link {
  font-size: 16px;
  color: #faa;
  word-break: break-word;
}
.member-info {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.delete-game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.delete-game {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
}
