.text h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.text p {
  font-size: 16px;
  line-height: 1.8;
}
.text ul {
  font-size: 16px;
}
.text li {
  margin: 10px 0;
}
.text .link {
  color: #faa;
}
